/* style.css ou deconnexion.css */
body {
    background-color: #2b3a1e; /* Vert foncé */
    color: #f3e9d2; /* Couleur crème pour le texte */
    font-family: 'Raleway', sans-serif; /* Police similaire à celle des autres pages */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    text-align: center;
}

input[type="submit"] {
    background-color: #f3e9d2; /* Couleur crème */
    color: #2b3a1e; /* Vert foncé */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

input[type="submit"]:hover {
    background-color: #e6ccb2; /* Couleur crème légèrement plus sombre */
    color: #344e41; /* Vert foncé légèrement différent */
}
