/* style.css */
body {
    background-color: #2b3a1e; /* Vert foncé */
    color: #f3e9d2; /* Couleur crème pour le texte */
    font-family: 'Raleway', sans-serif; /* Police similaire à celle de l'image */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #344e41; /* Couleur légèrement différente pour le conteneur */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre pour un effet de profondeur */
    width: 80%;
    max-width: 800px;
}

h1, h2 {
    color: #f3e9d2; /* Couleur crème */
    margin-bottom: 20px;
}

.table-container {
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #f3e9d2;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #2b3a1e; /* Vert foncé */
    color: #f3e9d2; /* Couleur crème */
}

td {
    background-color: #4f5d47; /* Vert intermédiaire */
    color: #f3e9d2; /* Couleur crème */
}

td a {
    color: #e6ccb2; /* Couleur crème légèrement plus sombre */
    /* color: #344e41; Vert foncé légèrement différent */

    margin-top: 20px;
}

.form-container {
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    font-size: 1.2em;
    color: #f3e9d2; /* Couleur crème */
    margin-bottom: 5px;
}

input[type="varchar"],
input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f3e9d2; /* Couleur crème */
    color: #2b3a1e; /* Vert foncé */
}

input[type="submit"] {
    background-color: #f3e9d2; /* Couleur crème */
    color: #2b3a1e; /* Vert foncé */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

input[type="submit"]:hover {
    background-color: #e6ccb2; /* Couleur crème légèrement plus sombre */
    color: #344e41; /* Vert foncé légèrement différent */
}

.back-link {
    margin-top: 20px;
}

.back-link a {
    color: #f3e9d2; /* Couleur crème */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.back-link a:hover {
    color: #e6ccb2; /* Couleur crème légèrement plus sombre */
}
