/* style.css */
body {
    background-color: #2b3a1e; /* Vert foncé */
    color: #f3e9d2; /* Couleur crème pour le texte */
    font-family: 'Raleway', sans-serif; /* Police similaire à celle de l'image */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #344e41; /* Couleur légèrement différente pour le conteneur */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre pour un effet de profondeur */
    width: 600px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #f3e9d2; /* Couleur crème */
}

.table-container {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: center;
    border: 1px solid #f3e9d2;
    color: #f3e9d2; /* Couleur crème */
}

th {
    background-color: #4d6655; /* Vert plus foncé pour l'en-tête */
}

.form-container {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-size: 1em;
}

input[type="text"],
input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #f3e9d2; /* Couleur crème */
    color: #2b3a1e; /* Vert foncé */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #e6ccb2; /* Couleur crème légèrement plus sombre */
    color: #344e41; /* Vert foncé légèrement différent */
}

.delete-container {
    margin-bottom: 20px;
    color: #f3e9d2; /* Couleur crème */
}

.links-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.links-container a {
    color: #f3e9d2; /* Couleur crème */
    background-color: #2b3a1e; /* Vert foncé */
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.links-container a:hover {
    background-color: #e6ccb2; /* Couleur crème légèrement plus sombre */
    color: #344e41; /* Vert foncé légèrement différent */
}
