<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Connexion</title>
        <link rel="stylesheet" href="../static/connexion.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <form action="/connexion" method="POST">
                <div class="form-group">
                    <label for="email">🥞 E-mail 🥞</label>
                    <input type="email" name="email" id="email" required>
                </div>
                <div class="form-group">
                    <label for="password">🥞 Mot de passe 🥞</label>
                    <input type="password" name="password" id="password" required>
                </div>
                <div class="form-group">
                    <input type="submit" value="Se connecter">
                </div>
            </form>
            <div class="back-link">
                <a href="/">Retour à l'accueil</a>
            </div>
        </div>
    </body>
</html>
