<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Devoir</title>
  </head>
  <body>
    <h1>Vos exercices</h1>
    <table border="1" width='100%'>
      <tr>
        <td>Matière</td>
        <td>Nom</td>
        <td>Niveau</td>
        <td>Enoncé</td>
      </tr>
      
      {% for exo in exos %}
      <tr>
        <td>{{exo[4]}}</td>
        <td>{{exo[1]}}</td>
        <td>{{exo[2]}}</td>
        <td>{{exo[3]}}</td>
        <td><a href="/repondre/{{util_id}}/{{exo[0]}}">répondre</a></td>
      </tr>
      {% endfor %}
    </table>
    <a href="/">Retour à la page d'accueil</a>
  </body>
</html>
