<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Profil</title>
  </head>
  <body>
        <h1>Bonjour {{etudiants[1]}} {{etudiants[2]}}</h1>
      <div>
        <table border="1" width='100%'>
          <tr>
            <th>Mail</th>
            <th>Age</th>
            <th>Classe</th>
            <th>Statut</th>
          </tr>
        <tr>
          <td>{{util_id}}</td>
          <td>{{etudiants[3]}}</td>
          <td>{{etudiants[4]}}</td>
          <td>{{etudiants[5]}}</td>
        </tr>
      </table>
    </div>
    <div>
        <form action="/profil/{{util_id}}" method="POST">
          <label for="nom">Nouveau nom</label>
          <input type="varchar" name="nom" value={{etudiants[1]}}>
          <label for="prenom">Nouveau prénom</label>
          <input type="varchar" name="prenom" value={{etudiants[2]}}>
          <label for="age">Nouvel âge</label>
          <input type="number" name="age" value={{etudiants[3]}}>
          <label for="classe">Nouvelle classe</label>
          <input type="varchar" name="classe" value={{etudiants[4]}}>
          <input type="submit">
        </form>
      </table>
    </div>
    <div>
      <a href="/suivi/{{util_id}}">Suivi</a>
      <a href="/deconnexion">Se déconnecter</a>
    </div>
  </body>
</html>
