<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Récompenses</title>
        <link rel="stylesheet" href="../static/style.css"/>
    </head>
    <body>
        <h1>Vos badges Pancakes que vous pouvez réclamer</h1>
        <div>
            <h3>Les Badges</h3>
            <div  id="recompensesPancakes">

            </div>
        </div>
        <div>
            <h3>Les Toppings Bonus</h3>
            <div id="bonusToppings">

            </div>
        </div>

        <script>
            async function fetchRecompensesPancakes() {
                try {
                    const response = await fetch('/recompense');
                    const data = await response.json();
                    console.log(data); 
                    const recompensesPancakesDiv = document.getElementById('recompensesPancakes');
                    recompensesPancakesDiv.innerHTML = '<h4>Récompenses Pancakes</h4>';
                    data['Récompenses Pancakes'].forEach(recompense => {
                        recompensesPancakesDiv.innerHTML += `<p>Type: ${recompense.type}, Temps minimum: ${recompense['temps minimum']}</p>`;
                    });
                } catch (error) {
                    console.error('Error fetching recompenses pancakes:', error);
                }
            }

            async function fetchBonusToppings() {
                try {
                    const response = await fetch('/bonus');
                    const data = await response.json();
                    console.log(data); 
                    const bonusToppingsDiv = document.getElementById('bonusToppings');
                    bonusToppingsDiv.innerHTML = '<h4>Bonus Toppings</h4>';
                    data['Bonus Toppings'].forEach(bonus => {
                        bonusToppingsDiv.innerHTML += `<p>Type: ${bonus.type}, Temps minimum: ${bonus['temps minimum']}</p>`;
                    });
                } catch (error) {
                    console.error('Error fetching bonus toppings:', error);
                }
            }

            fetchRecompensesPancakes();
            fetchBonusToppings();
        </script>
    </body>
</html>