<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Suivi</title>
  </head>
  <body>
      <div>
        <tr>
          <td>Nom </td>
          <td>Semestre</td>
          <td>Temps passé à étudier</td>
        </tr>
        {% for cours in recapitulatif %}
        <tr>
          <td>{{cours[1]}}</td>
          <td>{{cours[2]}}</td>
          <td>{{cours[3]}}</td>
        </tr>
        {% endfor %}
      </div>
      <div>
        <a href="/profil">Profil</a>
        <a href="/deconnexion">Se déconnecter</a>
      </div>
  </body>
</html>
