<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Suivi</title>
  </head>
  <body>
    

    <p>Cet élève a étudié {{temps_total}} minutes cette année</p>

    
      <div>
        <h2>Bilan général</h2>
        <table border="1" width='100%'>
        <tr>
          <td>Nom </td>
          <td>Semestre</td>
          <td>Temps passé à étudier</td>
        </tr>
        {% for cours in recapitulatif %}
        <tr>
          <td>{{cours[0]}}</td>
          <td>{{cours[1]}}</td>
          <td>{{cours[2]}}</td>
        </tr>
        {% endfor %}
        </table>
      </div>
      <div>
        <h2>Bilan journalier</h2>
        <table border="1" width='100%'>
          <tr>
            <td>Date</td>
            <td>Temps_total_journalier</td>
          </tr>
          {% for suivi_journalier in suivi_journalier %}
          <tr>
            <td>{{suivi_journalier[0]}}</td>
            <td>{{suivi_journalier[1]}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div>
        <h2>Bilan par exercice</h2>
        <table border="1" width='100%'>
          <tr>
            <td>Nom exercice</td>
            <td>Matière</td>
            <td>Temps</td>
          </tr>
          {% for suivi_exo in suivi_exo %}
          <tr>
            <td>{{suivi_exo[0]}}</td>
            <td>{{suivi_exo[1]}}</td>
            <td>{{suivi_exo[2]}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div>
        <a href="/profil/{{util_id}}">Retour au profil</a>
      </div>
  </body>
</html>
