<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Suivi</title>
    <link rel="stylesheet" href="../static/suivi.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h2>Le best of de l'année</h2>
      <p>Vous avez étudié {{temps_total}} heures cette année</p>

      <div class="section">
        <h2>Bilan général</h2>
        <table>
          <tr>
            <th>Nom</th>
            <th>Semestre</th>
            <th>Temps passé à étudier (en minutes)</th>
          </tr>
          {% for cours in recapitulatif %}
          <tr>
            <td>{{cours[0]}}</td>
            <td>{{cours[1]}}</td>
            <td>{{cours[2]}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      
      <div class="section">
        <h2>Bilan journalier</h2>
        <table>
          <tr>
            <th>Date</th>
            <th>Temps total journalier (en minutes)</th>
          </tr>
          {% for suivi_journalier in suivi_journalier %}
          <tr>
            <td>{{suivi_journalier[0]}}</td>
            <td>{{suivi_journalier[1]}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      
      <div class="section">
        <h2>Bilan par exercice</h2>
        <table>
          <tr>
            <th>Nom exercice</th>
            <th>Matière</th>
            <th>Temps (en minutes)</th>
          </tr>
          {% for suivi_exo in suivi_exo %}
          <tr>
            <td><a href="/repondre/{{util_id}}/{{suivi_exo[3]}}">{{suivi_exo[0]}}</a></td>
            <td>{{suivi_exo[1]}}</td>
            <td>{{suivi_exo[2]}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      
      <div class="navigation">
        <a href="/profil/{{util_id}}">Profil</a>
        <a href="/deconnexion">Se déconnecter</a>
        <a href="/devoir/{{util_id}}">Vos devoirs</a>
        <a href="/reclamation_recompenses/{{util_id}}">Voir les récompenses</a>
      </div>
    </div>
  </body>
</html>
